@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald&display=swap');


html,
body {
  font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
}

.site-logo {
  width: 150px;
  position: absolute;
  top: 0;
  transform: translateY(-27%);
}

.main-navigation .sub-menu .menu-item a {
  font-family: 'Open Sans';
  font-weight: 700;
}
.main-navigation .sub-menu .menu-item a::before {
  content: none;
}

#site-navigation {
  margin-top: 0 !important;
}

header.entry-header {
  display: none;
}

footer.site-footer {
  background: #303030;
  max-width: 100%;

}
.footer-navigation .footer-menu {
  color: #fff;
}

.site-header-wrap .main-navigation > div > ul > li:hover li:hover > a, 
.site-header-wrap .main-navigation > div > ul > li:hover li.focus > a, 
.site-header-wrap .main-navigation > div > ul > li:hover li.current-menu-item > a, 
.site-header-wrap .main-navigation > div > ul > li.focus li:hover > a, 
.site-header-wrap .main-navigation > div > ul > li.focus li.focus > a, 
.site-header-wrap .main-navigation > div > ul > li.focus li.current-menu-item > a, 
.site-header-wrap .main-navigation > div > ul > li.current-menu-item li:hover > a, 
.site-header-wrap .main-navigation > div > ul > li.current-menu-item li.focus > a, 
.site-header-wrap .main-navigation > div > ul > li.current-menu-item li.current-menu-item > a {
  background-color: #FFD200;
  color: #fff;
}

.footer-navigation .footer-menu a:hover {
  color: #FFD200;
}

footer .site-info {
  display: none;
}

.footer-navigation {
  margin: 0 auto;
  max-width: 80%;
}

@media (min-width: 560px) and (max-width: 781px) {
  body:not(.fse-enabled) .main-navigation a {
    font-size: 0.7rem;
  }
}

@media (max-width: 559px) {
  .site-logo {
    width: 125px;
    transform: translateY(-13%);
    right: 0;
  }
}
@media only screen and (min-width: 1024px) {
  #page {
      max-width: none;
  }
}

@media only screen and (min-width: 1280px) {
  .responsive-max-width, .wp-block-pullquote.is-style-solid-color:not(.alignleft):not(.alignright) blockquote, .wp-block-pullquote.alignwide > p, .wp-block-pullquote.alignfull > p, .wp-block-pullquote.alignwide blockquote, .wp-block-pullquote.alignfull blockquote, hr.wp-block-separator.is-style-wide, .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment), .entry-content [class*="inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator), .entry-content .wp-audio-shortcode, .post-navigation, .pagination {
    max-width: calc( 1024px - 32px);
  }
}
