@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');


html,
body {
  font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
}

.site-logo {
  width: 150px;
  position: absolute;
  top: 0;
  transform: translateY(-27%);
}

.main-navigation .sub-menu .menu-item a::before {
  content: none;
}

#site-navigation {
  margin-top: 0 !important;
}

@media (min-width: 560px) and (max-width: 781px) {
  body:not(.fse-enabled) .main-navigation a {
    font-size: 0.7rem;
  }
}

@media (max-width: 559px) {
  .site-logo {
    width: 125px;
    transform: translateY(-13%);
    right: 0;
  }
}
